name = "GeneticCrosses"
uuid = "e670a858-c023-4621-870e-30d0f49b8322"
authors = ["Pavel Dimens <pdimens@live.com> and contributors"]
version = "0.1.0"

[compat]
julia = "1.4"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
